@page
@model TattooRazorPages.Pages.ArtistPage.AccountModel

@{
    ViewData["Title"] = "Account";
}

<h1>@Html.DisplayFor(model => model.Artist.Studio.Name)</h1>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Password)
        </dt>
        <dd class="col-sm-10">
            *****
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Avatar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Avatar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Certificate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Certificate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Studio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Studio.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditAccount" asp-route-id="@Model.Artist?.ArtistId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
