@page
@model TattooRazorPages.Pages.ArtistPage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_ArtistLayout";
}
<style>
    .error-message {
        color: red;
        font-weight: bold; 
    }
</style>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger">@ViewData["Message"]</div>
}
<h1>All Booking</h1>
<form method="post">
    <div class="form-group">
        <label for="searchDate">Date:</label>
        <input type="date" name="searchDate" id="searchDate" class="form-control" />
    </div>
    <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].ArtistFeedBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].ServiceFeedBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Booking != null)
        {
            @foreach (var item in Model.Booking)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Point)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtistFeedBack)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceFeedBack)
                    </td>
                    <td>
                        @switch (item.Status)
                        {
                            case 0:
                                <span style="color: blue">Pending</span>
                                break;
                            case 1:
                                <span style="color: green">Check-in</span>
                                break;
                            case 2:
                                <span style="color: green">Done</span>
                                break;
                            case 3:
                                <span style="color: green">Check-out</span>
                                break;
                            case 4:
                                <span style="color: green">Finished</span>
                                break;
                            default:
                                <span style="color: red">Unknown Status</span>
                                break;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service.Name)
                    </td>
                    <td>
                        <a asp-page="BookingDetails" asp-route-id="@item.BookingId">Details</a> 
                    </td>
                </tr>
            }
        }
        else
        {
            <p class="error-message">Please enter the date!</p>
        }
    </tbody>
</table>
<script src="~/js/searchDate.js"></script>

