@page
@model TattooRazorPages.Pages.ArtistPage.ScheduleModel

@{
    ViewData["Title"] = "Schedule";
    Layout = "_ArtistLayout";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<style>
    .error-message {
        color: red;
        font-weight: bold;
    }
</style>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger">@ViewData["Message"]</div>
}
<h1>Schedule</h1>
<form method="post">
    <div class="form-group row">
        <label for="searchDate" class="col-sm-2 col-form-label">Date:</label>
        <div class="col-sm-6">
            <input type="date" name="searchDate" id="searchDate" class="form-control" />
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<p>
    <a asp-page="CreateSchedule" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].TimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].TimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Schedule != null)
        {
            @foreach (var item in Model.Schedule)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeFrom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeTo)
                    </td>
                    <td>
                        @switch (item.Status)
                        {
                            case 0:
                                <span style="color: blue">Pending</span>
                                break;
                            case 1:
                                <span style="color: green">Accept</span>
                                break;
                            case 2:
                                <span style="color: red">Not accepted</span>
                                break;
                            default:
                                <span style="color: orange">Unknown Status</span>
                                break;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist.Name)
                    </td>
                    <td>
                       @if (item.Date >= DateTime.Today)
                       {
                            <a asp-page="EditSchedule" asp-route-id="@item.ScheduleId">Edit</a> 
                       } |
                       <a asp-page="ScheduleDetails" asp-route-id="@item.ScheduleId">Details</a> |
                       <a asp-page="DeleteSchedule" asp-route-id="@item.ScheduleId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p class="error-message">Please enter the date!</p>
        }
    </tbody>
</table>
<script src="~/js/searchDate.js"></script>