@page
@model TattooRazorPages.Pages.ArtistPage.ScheduleModel

@{
    ViewData["Title"] = "Schedule";
}

<h1>Schedule</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].TimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].TimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScheduleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
