@page
@model TattooRazorPages.Pages.ArtistPage.ServiceModel

@{
    ViewData["Title"] = "Service";
    Layout = "_ArtistLayout";
}

<h1>Service</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Studio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.Address)
            </td>
        </tr>
}
    </tbody>
</table>
