@page
@model TattooRazorPages.Pages.BookingPage.BookingHistoryModel
@{
    ViewData["Title"] = "Booking History";
}

<h1>Booking History</h1>

<table class="table">
    <thead>
        <tr>
            <th>Booking Date</th>
            <th>Booking DateTime</th>
            <th>Artist</th>
            <th>Service</th>
            <th>Price</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.CustomerBookings)
        {
            <tr>
                <td>@booking.BookingDate.ToShortDateString()</td>
                <td>@booking.BookingDateTime.ToShortDateString()</td>
                <td>@booking.Artist.Name</td>
                <td>@booking.Service.Name</td>
                <td>@booking.Price</td>
                <td>
                    @if (booking.Status == 0)
                    {
                        <a asp-page="/BookingPage/Payment" asp-route-bookingId="@booking.BookingId" class="btn btn-primary">Thanh toán</a>
                    }
                    else
                    {
                        <span class="text-success">Đã thanh toán</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
