@page
@model TattooRazorPages.Pages.BookingPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <p>
    <a asp-page="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].ArtistFeedBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].ServiceFeedBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistFeedBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceFeedBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
@*             <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
