@page
@model TattooRazorPages.Pages.Admin.AdminHomeModel
@{
    ViewData["Title"] = "Admin Homepage";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<style>
    .small-chart {
        width: 200px; /* Điều chỉnh kích thước theo mong muốn */
        height: 100px; /* Điều chỉnh kích thước theo mong muốn */
    }
    .small-box {
        border-radius: 30px;
        background-color: #000333;
        padding: 10px;
        text-align: center;
        color: #fff;
        margin: 10px 0;
    }

        .small-box:hover{
            background-color: #066666;
        }

    .small-box h3{
        font-weight: 700;
        font-size: 30px;
    }

    .small-box p{
        font-size: 25px;
    }

    table th{
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="main-content">
                <div class="row">
                    <div class="col-3">
                        <div class="small-box">
                            <h3>Customer</h3>
                            <p>@Model.CustomerCount</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="small-box">
                            <h3>Studio</h3>
                            <p>@Model.StudioCount</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="small-box">
                            <h3>Artist</h3>
                            <p>@Model.ArtistCount</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="small-box">
                            <h3>Booking</h3>
                            <p>@Model.BookingCount</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <canvas id="barChart" class="small-chart"></canvas>
                        <script>
                            var ctx = document.getElementById('barChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Customer', 'Artist', 'Studio'],
                                    datasets: [{
                                        label: '',
                                        data: [@Model.CustomerCount, @Model.ArtistCount, @Model.StudioCount],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                }
                            });
                        </script>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <h3>Customer List</h3>
                        <div>
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr class="table-primary">
                                        <th>Code</th>
                                        <th>Email</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Avatar</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.customerList)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.Avatar))
                                                {
                                                    <img src="@item.Avatar" alt="Avatar" width="50" height="50" />
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td>
                                                <a asp-page="./Details" asp-route-id="@item.CustomerId" class="btn btn-outline-success">Details</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <h3>Artist List</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr class="table-secondary">
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Studio</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Avatar</th>
                                    <th>Certificate</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.artistList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Studio.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.Avatar))
                                            {
                                                <img src="@item.Avatar" alt="Avatar" width="50" height="50" />
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Certificate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                        <td>
                                            <a asp-page="./Details" asp-route-id="@item.ArtistId" class="btn btn-outline-success">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <h3>Studio List</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr class="table-danger">
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Open Hour</th>
                                    <th>Close Hour</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.studioList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                        <td>@Html.DisplayFor(modelItem => item.OpenHour)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CloseHour)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                        <td>
                                            <a asp-page="./Details" asp-route-id="@item.StudioId" class="btn btn-outline-success">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <h3>Booking List</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr class="table-info">
                                    <th>Customer</th>
                                    <th>Artist</th>
                                    <th>Price</th>
                                    <th>Booking Date</th>
                                    <th>Booking Date Time</th>
                                    <th>Note</th>
                                    <th>Point</th>
                                    <th>Artist Feedback</th>
                                    <th>Service Feedback</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.bookingList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Artist.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BookingDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BookingDateTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Note)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Point)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ArtistFeedBack)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ServiceFeedBack)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
