@page
@model TattooRazorPages.Pages.Admin.AdminHomeModel
@{
    ViewData["Title"] = "Admin Homepage";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<style>
    .small-chart {
        width: 200px; /* Điều chỉnh kích thước theo mong muốn */
        height: 100px; /* Điều chỉnh kích thước theo mong muốn */
        background-color:#eee;
        padding: 10px;
        border-radius: 20px;
    }

    a {
        text-decoration: none;
    }

    div.col-2 {
        background-color: #006666;
        padding: 5px;
        text-align: center;
        border-radius: 20px;
        margin: 10px 20px;
    }

    h3 {
        color: #fff;
    }

    p {
        margin: 0 0 8px;
        color: #fff;
    }
</style>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="main-content">
                <div class="row" style="display: flex;justify-content: center;align-items: center;">
                    <div class="col-2">
                        <a href="AdminCustomer" class="small-box">
                            <h3>Customer</h3>
                            <p>@Model.CustomerCount</p>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="AdminStudio" class="small-box">
                            <h3>Studio</h3>
                            <p>@Model.StudioCount</p>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="AdminArtist" class="small-box">
                            <h3>Artist</h3>
                            <p>@Model.ArtistCount</p>
                        </a>
                    </div>
                    <div class="col-2">
                        <a href="AdminBooking" class="small-box">
                            <h3>Booking</h3>
                            <p>@Model.BookingCount</p>
                        </a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <canvas id="barChart" class="small-chart"></canvas>
                        <script>
                            var ctx = document.getElementById('barChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Customer', 'Artist', 'Studio'],
                                    datasets: [{
                                        label: '',
                                        data: [@Model.CustomerCount, @Model.ArtistCount, @Model.StudioCount],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                }
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>