@page
@model TattooRazorPages.Pages.StudioPage.DetailsModel
@{
    ViewData["Title"] = "Booking Details";
    Layout = "_StudioLayout";
}

<h1>Booking Details</h1>

<div class="booking-details">
    <h4>Booking Information</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            Booking ID:
        </dt>
        <dd class="col-sm-9">
            @Model.booking.BookingId
        </dd>

        <dt class="col-sm-3">
            Date:
        </dt>
        <dd class="col-sm-9">
            @Model.booking.BookingDate
        </dd>
        <dd class="col-sm-9">
            @Model.booking.BookingDateTime
        </dd>
        <dd class="col-sm-9">
            <a asp-asp-route="./CustomerPage/Details" asp-route-id="@Model.booking.Customer.CustomerId">@Model.booking.Customer.Name</a>
        </dd>
        <dd class="col-sm-9">
            <a asp-asp-route="./ArtistPage/Details" asp-route-id="@Model.booking.Artist.ArtistId">@Model.booking.Artist.Name</a>
        </dd>
    </dl>
    <dl>

    </dl>
</div>

<div class="booking-actions">
    <!-- Add buttons or links for editing or navigating back as needed -->
</div>
