@page
@model TattooRazorPages.Pages.StudioPage.IndexModel
@{
    ViewData["Title"] = "Index";
}

<style>
    .small-box {
        border-radius: 15px;
        background-color: #000033;
        padding: 5px;
        text-align: center;
        margin: 10px 0;
        color: #fff;
    }
</style>
<h1>Hello @Model.studio.Code - @Model.studio.Name comeback, </h1>
<h3 style="color: green">@Model.today.ToString("dd-MM-yyyy")</h3>
<br />

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="small-box">
                <h3>Member</h3>
                <p>40</p>
            </div>
        </div>
        <div class="col-3">
            <div class="small-box">
                <h3>Studio</h3>
                <p>40</p>
            </div>
        </div>
        <div class="col-3">
            <div class="small-box">
                <h3>Artist</h3>
                <p>40</p>
            </div>
        </div>
        <div class="col-3">
            <div class="small-box">
                <h3>Booking</h3>
                <p>40</p>
            </div>
        </div>
    </div>
</div>

<br />
<h2>
    Today's Booking
</h2>
<br />

<form method = "post" >

</form>

<table class="table table-primary ">
    <thead>
        <tr table-primary>
            <th>Id</th>
            <th>Artist Code</th>
            <th>Artis Name</th>
            <th>Customer code</th>
            <th>Customer Name</th>
            <th>Booking Date</th>
            <th>Booking Date Time</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.bookingDTOList.Count; i++)
        {
            <tr table-secondary>
                <td>@(i + 1)</td>
                <td>@Model.bookingDTOList[i].Artist.Code</td>
                <td>@Model.bookingDTOList[i].Artist.Code</td>
                <td>@Model.bookingDTOList[i].Customer.Code</td>
                <td>@Model.bookingDTOList[i].Customer.Name</td>
                <td>@Model.bookingDTOList[i].Booking.BookingDate</td>
                <td>@Model.bookingDTOList[i].Booking.BookingDateTime</td>
                <td>@Model.bookingDTOList[i].Booking.Price</td>
                <td>
                    @switch (Model.bookingDTOList[i].Booking.Status)
                    {
                        case 0:
                            {
                                <span style="color:blue">Pending</span>
                            }
                            break;
                        case 1:
                            {
                                <span style="color:green">Check In</span>
                            }
                            break;
                        case 2:
                            {
                                <span style="color:green">Done </span>
                            }
                            break;
                        case 3:
                            {
                                <span style="color:green">CheckOut</span>
                            }
                            break;
                        case 4:
                            {
                                <span style="color:green">CheckOut</span>
                            }
                            break;
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@Model.bookingDTOList[i].Booking.BookingId" class="btn btn-info">Edit</a>
                    <a asp-page="./Details" asp-route-id="@Model.bookingDTOList[i].Booking.BookingId" class="btn btn-primary">Details</a>
                    <a asp-page="./Delete" asp-route-id="@Model.bookingDTOList[i].Booking.BookingId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>