@page
@model TattooRazorPages.Pages.StudioPage.ServiceDetailModel
@{
    Path = "";
    ViewData["Title"] = "Servcie Management";
    Layout = "_StudioLayout"; // Đặt Layout cho trang này
    var service = Model.service;
    var artists = Model.artists;
}

<style>
    h1 {
        color: blueviolet
    }
</style>

<div>
    <div><h1>Service Management</h1></div>
    <div><h3>Add Service</h3></div>
</div>

<br />

<form method="post">
    <table class="table">
        <tr>
            <td><label for="Code">Service Code:</label></td>
            <td><input name="code" asp-for="@service.Code" class="form-control" /></td>
        </tr>
        <tr>
            <td><label for="Name">Service Name:</label></td>
            <td><input name="name" asp-for="@service.Name" class="form-control" /></td>
        </tr>
        <tr>
            <td><label for="Description">Description:</label></td>
            <td><input name="description" asp-for="@service.Description" class="form-control" /></td>
        </tr>
        <tr>
            <td><label for="Time">Time (minutes):</label></td>
            <td><input name="time" asp-for="@service.Time" class="form-control" /></td>
        </tr>
        <tr>
            <td><label for="Price">Price:</label></td>
            <td><input name="price" type="text" asp-for="@service.Price" class="form-control" /></td>
        </tr>
        <tr>
            <td><label for="StaffId">Assign to Staff:</label></td>
            <td>
                <select name="staffId" class="form-control">
                    <option value="">Select Staff</option>
                    @foreach (var artist in artists)
                    {
                        <option value="@artist.ArtistId">@artist.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <button type="submit" class="btn btn-primary" style="width: 100px">Add</button>
        </tr>
    </table>
</form>