@page
@model TattooRazorPages.Pages.StudioPage.ServiceModel
@{
    Path = "";
    ViewData["Title"] = "Studio Homepage";
    Layout = "_StudioLayout"; // Đặt Layout cho trang này
}

<style>
    h1 {
        color: blueviolet
    }
</style>

<div>
    <div><h1>Service Management</h1></div>
    <div>
        <a asp-page="./ServiceAdd" class="btn btn-info">Add Service</a>
    </div>
</div>

<br />

<div class="navbar-right col-6 justify-content-end">
    <form class="d-flex" role="search" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" asp-for="SearchText">
        <button class="btn btn-info" style="color: #fff" type="submit">Search</button>
    </form>
</div>

<br />
<table class="table table-primary ">
    <thead>
        <tr table-primary>
            <th>Id</th>
            <th>Code</th>
            <th>Service Name</th>
            <th>Service Description</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Artist</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.services.Count; i++)
        {
            <tr table-secondary>
                <td>@(i + 1)</td>
                <td>@Model.services[i].Code</td>
                <td>@Model.services[i].Name</td>
                <td>@Model.services[i].Description</td>
                <td>@Model.services[i].Time</td>
                <td>@Model.services[i].Price</td>
                <td>
                @foreach (var artistDetail in Model.services[i].ArtistDetails)
                 {
                        <p>@artistDetail.Artist.Name</p>
                 }
                </td>
                <td>
                    @switch (Model.services[i].Status)
                    {
                        case 0:
                            {
                                <span style="color:red">In-active</span>
                            }
                            break;
                        case 1:
                            {
                                <span style="color:green">Active</span>
                            }
                            break;
                    }
                </td>
                <td>
                    <form method="post">
                        <div class="row justify-content-center">
                            <input type="hidden" name="serviceId" value="@Model.services[i].ServiceId"></input>
                            
                            @if (Model.services[i].Status == 1)
                            {
                                <button type="submit" class="btn btn-primary" style="width: 100px">Ban</button>
                            } else {
                                <button type="submit" class="btn btn-primary" style="width: 100px">Unban</button>
                            }
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

